.fa,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-apple:before {
    content: "\f179"
}

.fa-apple-alt:before {
    content: "\f5d1"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-bitcoin:before {
    content: "\f379"
}

.fa-bold:before {
    content: "\f032"
}

.fa-bootstrap:before {
    content: "\f836"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-business-time:before {
    content: "\f64a"
}

.fa-clock:before {
    content: "\f017"
}

.fa-copyright:before {
    content: "\f1f9"
}

.fa-css3:before {
    content: "\f13c"
}

.fa-css3-alt:before {
    content: "\f38b"
}

.fa-edge:before {
    content: "\f282"
}

.fa-font:before {
    content: "\f031"
}

.fa-heading:before {
    content: "\f1dc"
}

.fa-home:before {
    content: "\f015"
}

.fa-html5:before {
    content: "\f13b"
}

.fa-icons:before {
    content: "\f86d"
}

.fa-ideal:before {
    content: "\e013"
}

.fa-image:before {
    content: "\f03e"
}

.fa-info:before {
    content: "\f129"
}

.fa-js:before {
    content: "\f3b8"
}

.fa-laptop:before {
    content: "\f109"
}

.fa-link:before {
    content: "\f0c1"
}

.fa-list:before {
    content: "\f03a"
}

.fa-list-alt:before {
    content: "\f022"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-plane:before {
    content: "\f072"
}

.fa-project-diagram:before {
    content: "\f542"
}

.fa-server:before {
    content: "\f233"
}

.fa-shield-alt:before {
    content: "\f3ed"
}

.fa-store:before {
    content: "\f54e"
}

.fa-store-alt:before {
    content: "\f54f"
}

.fa-text-height:before {
    content: "\f034"
}

.fa-text-width:before {
    content: "\f035"
}

.fa-ticket-alt:before {
    content: "\f3ff"
}

.fa-user:before {
    content: "\f007"
}

.fa-user-alt:before {
    content: "\f406"
}

.fa-user-clock:before {
    content: "\f4fd"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-user-shield:before {
    content: "\f505"
}

.fa-user-tie:before {
    content: "\f508"
}

.fa-users:before {
    content: "\f0c0"
}

.fa-weight:before {
    content: "\f496"
}

@font-face {
    font-family: 'font awesome 5 brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-brands-400.html);
    src: url(../fonts/fa-brands-400d41d.html?#iefix) format("embedded-opentype"), url(../fonts/fa-brands-401.html) format("woff2"), url(../fonts/fa-brands-402.html) format("woff"), url(../fonts/fa-brands-403.html) format("truetype"), url(../fonts/fa-brands-404.html#fontawesome) format("svg")
}

.fab {
    font-family: 'font awesome 5 brands';
    font-weight: 400
}

@font-face {
    font-family: 'font awesome 5 free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../fonts/fa-regular-400.html);
    src: url(../fonts/fa-regular-400d41d.html?#iefix) format("embedded-opentype"), url(../fonts/fa-regular-401.html) format("woff2"), url(../fonts/fa-regular-402.html) format("woff"), url(../fonts/fa-regular-403.html) format("truetype"), url(../fonts/fa-regular-404.html#fontawesome) format("svg")
}

.far {
    font-family: 'font awesome 5 free';
    font-weight: 400
}

@font-face {
    font-family: 'font awesome 5 free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(../fonts/fa-solid-900.html);
    src: url(../fonts/fa-solid-900d41d.html?#iefix) format("embedded-opentype"), url(../fonts/fa-solid-901.html) format("woff2"), url(../fonts/fa-solid-902.html) format("woff"), url(../fonts/fa-solid-903.html) format("truetype"), url(../fonts/fa-solid-904.html#fontawesome) format("svg")
}

.fa,
.fas {
    font-family: 'font awesome 5 free';
    font-weight: 900
}